<% include header.html %>

    <!-- START #fh5co-header -->
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
    <div class="fh5co-spacer fh5co-spacer-xs"></div>
        <header id="fh5co-header-section" role="header" class="" >
            <div class="container">
                <!-- <div id="fh5co-menu-logo"> -->
                <!-- START #fh5co-logo -->
                <!--<h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="images/logo.png" alt="EchBlockChain"></a></h1>-->
				<h1 id="fh5co-logo" class="pull-left"><a href="index" style="color:#f86942;">易诚互动区块链</a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">					
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li><a href="index" style="font-size:15px;">首页</a></li>
						<li class="active">
							<a href="home" style="font-size:15px;">积分购</a>
					    </li>
						<li><a href="#" style="font-size:15px;">关于我们</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown" style="font-size:15px;"><%=user%></a>
                                <ul class="fh5co-sub-menu">
                                <li><a href="logout" style="font-size:15px;">安全退出</a></li> 
                            </ul>
						</li>                          
					</ul>
				</nav>
            </div>
        </header>

		<div id="fh5co-main">
			<div class="container">
				<div class="row">                        
                    <form class="form-horizontal" method="post">
                        <div class="col-md-8 col-md-offset-1 animate-box">
                            <div class="form-group">
                                <select class="form-control input-md" style="color:#9D9D9D;" id="goods" onblur="return autoDo();" onchange="return clickGoods();" onmousedown="return changeColor1();">
                                    <option>选择商品</option>
                                    <% for(var i=0; i<goodsList.length;i++){%>
                                        <option><%= goodsList[i].name %></option>
                                    <%}%>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1 animate-box">
                            <div class="form-group">
                                <input placeholder=" 商品单价" id="price" type="text" class="form-control input-md" readonly="readonly">
                            </div>
                        </div>                            
                        <div class="col-md-3 col-md-offset-2 animate-box">
                            <div class="form-group">
                                <input placeholder=" 商品数量" id="count" type="text" class="form-control input-md" onchange = "return autoDo();" onblur="return autoDo();" onclick="return load();">
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1 animate-box">
                            <div class="form-group">
                                <input placeholder=" 积分数量" id="amount" type="text" class="form-control input-md" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-2 animate-box">
                            <div class="form-group">
                                <input placeholder=" 备注" id="remark" type="text" class="form-control input-md" onclick="return load();">
                            </div>
                        </div>                                                                    
                        <div class="col-md-8 col-md-offset-1 animate-box">
                            <div class="form-group">
                                <select class="form-control input-md" style="color:#9D9D9D;" id="address" onmousedown="return changeColor2();">
                                    <option>选择账户</option>
                                    <% for(var i=0; i<addressList.length;i++){%>
                                        <option><%= addressList[i].address %></option>
                                    <%}%>
                                </select>
                            </div>
                        </div>                        
                        <div class="col-md-8 col-md-offset-1 animate-box">
                            <div class="form-group">
                                <input placeholder=" 消费事由" id="expenseReason" type="text" class="form-control input-md" readonly="readonly" onclick="return load();">
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-4 animate-box">
                            <div class="col-md-10">
                                <p style="color:#FF0000;"><span id="errMessage"></span></p>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-4 animate-box">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="button" class="btn btn-primary btn-md " id="expense" value="提交">
                                    <input type="reset" class="btn btn-outline btn-md"  id="reset" value="重置" onclick="return changeColorRe();">
                                </div>	
                            </div>
                        </div>
                    </form>                                                        		
				</div><!-- END row -->
                <div class="fh5co-spacer fh5co-spacer-sm"></div>

			</div><!-- END container -->		
		</div><!-- END fhtco-main -->                   

<% include footer.html %>

<script type="text/javascript">
function load() {
    document.getElementById('errMessage').innerHTML = "";
}
function changeColor1(){
   document.getElementById('errMessage').innerHTML = "";
   var spanElement = document.getElementById("goods");  
   spanElement.setAttribute("style","color:#5B5B5B;");  
   spanElement.style.cssText = "color:#5B5B5B;"; 
}
function changeColor2(){
   document.getElementById('errMessage').innerHTML = "";
   var spanElement = document.getElementById("address");  
   spanElement.setAttribute("style","color:#5B5B5B;");  
   spanElement.style.cssText = "color:#5B5B5B;";
}
function changeColorRe(){
    document.getElementById('errMessage').innerHTML = "";
    var spanElement = document.getElementById("address");  
    spanElement.setAttribute("style","color:#9D9D9D;");  
    spanElement.style.cssText = "color:#9D9D9D;";
    spanElement = document.getElementById("goods");  
    spanElement.setAttribute("style","color:#9D9D9D;");  
    spanElement.style.cssText = "color:#9D9D9D;"; 
}

//二级联动查询商品单价
function clickGoods() {
    var ins = "<%= ins %>";
    var asset = "<%= asset %>";
    var goodsName = $("#goods").val();

    if(goodsName == "选择商品"){
        $("#price").val("");
        return false;     
    }
    var data = {
        "ins": ins,
        "asset": asset,
        "goodsName": goodsName
    };
    $.ajax({          
        url: '/queryGoodsPrice',
        type: 'post',
        data: data,
        dataType: 'json',
        success: function(data) {
            var ret = $.parseJSON(data);
            if (ret.code == 200) {
                var goodsBack = $.parseJSON(ret.tips);
                $("#price").val(goodsBack[0].price);
            } else {
                $("#price").val("");
            }
        },
        error: function(jqXHR, textStatus, errorThrown) { 
            $("#price").val("");
        }
    });  
}

//商品数量变化时自动计算积分数量，自动填入消费事由
function autoDo() {
    var goodsName = $("#goods").val();
    var count = $.trim($('#count').val());
    var countNum = Number(count);
    var price = $.trim($('#price').val());
    var priceNum = Number(price);    
    if (isNaN(countNum)) {
        $("#amount").val("");
        $("#expenseReason").val("");
        return false;
    }
    if (countNum <= 0) {
        $("#amount").val("");
        $("#expenseReason").val("");
        return false;
    }
    var amount = String(countNum * priceNum);
    $("#amount").val(amount);
    $("#expenseReason").val( "换购商品 " + goodsName + "，数量 " + count + "，花费积分 " + amount);
}

$(function() {
    $("#reset").click(function() {
        load();
    });
    $("#expense").click(function() {
        load();
        var $txtGoods = $('#goods'),
        goods = $txtGoods.val(),
        $txtAddress = $('#address'),
        address = $txtAddress.val(),
        asset = "<%= asset %>",
        $txtCount = $('#count'),
        count = $.trim($txtCount.val()),
        $txtAmount = $('#amount'),
        amount = $txtAmount.val(),      
        $txtExpenseReason = $('#expenseReason'),
        expenseReason = $txtExpenseReason.val();
        if (goods == "选择商品") {
            document.getElementById('errMessage').innerHTML = "请选择商品";
            $txtGoods.focus();
            return false;
        }        
        if (address == "选择账户") {
            document.getElementById('errMessage').innerHTML = "请选择账户";
            $txtAddress.focus();
            return false;
        }            
        if (count.length == 0) {
            document.getElementById('errMessage').innerHTML = "商品数量不能为空";
            $txtCount.focus();
            return false;
        }
        if (isNaN(Number(count))) {
            document.getElementById('errMessage').innerHTML = "商品数量错误";
            $txtCount.focus();
            return false;
        }
        if (Number(count) <= 0) {
            document.getElementById('errMessage').innerHTML = "商品数量不能为负";
            $txtCount.focus();
            return false;
        }           
        var data = {
            "address": address,
            "asset": asset,
            "amount": amount,
            "expenseReason": expenseReason
        };
        $.ajax({
            url: '/expense',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(data) {
                var ret = $.parseJSON(data);
                if (ret.code == 200) {
                    alert("积分消费成功");
                } else {
                    document.getElementById('errMessage').innerHTML = ret.tips;
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //alert('error ' + textStatus + " " + errorThrown);
                document.getElementById('errMessage').innerHTML = errorThrown;
            }
        });
    });
});
</script>  